
.reply-nav{
  line-height: 14px;
  text-align: center;

    .tab-nav{
      float: left;
      font-size: 14px;

    a{
      margin: 8px 0;
      min-width: 64px;
      border-right: 1px solid #d9dadc;

      display: block;
      text-decoration: none;
      color: #222;
      outline: 0;
      padding: 0 20px;
    }

      &.active {
        background-color: #576477;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-right: -1px;
        border: 1px solid #576477;
        text-decoration: none;

        a{
          color: #fff;
          line-height: 30px;
          margin: 0;
          border: 0;
        }

      }

    }

}

.reply-content{
  padding: 0px 30px;



}

.area-layer{

  border : 1px solid  $border-light-gray;
  border-radius: 5px;

  .area-txt-out{
    color: #e15f63 !important;
  }

  .area-content{
    width: 100%;
    min-height: 300px;
    border: 0;
    margin: 0;
    padding: 10px;
  }

  .area-bottom{
    overflow: hidden;
    padding: 10px;
    border-top: 1px solid $border-light-gray;
  }

  .desc{
    margin-top: 8px;
    color: #ccc;
    font-size: 13px;
  }




}


.btn-add{
  margin:0px 20px 20px 0px;
  padding:20px;
}

.addkeyword-whole{
  box-sizing: border-box;
  margin: 20px 25px 20px 30px;
  .keywords{
    //box-sizing: border-box;
    padding: 20px 0px 50px 0px;
    .text{
      &:hover{
      }

      &.active{
        background-color: #576477;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-right: -1px;
        border: 1px solid #576477;
        text-decoration: none;
        color: white;
      }
    }

  }

  .text-area{
    border:1px solid black;
    height: 300px;
    margin:30px 30px 50px 0px;
    border-radius: 5px;
  }
  .btn-save{
    margin-right: 80px;
  }
  .reply-contnet{
    width: 100%;
  }
}