<div>


        <form name="attentionForm" novalidate>
            <p class="msg_tips">新用户关注后将自动发送以下文字（回车无效）</p>

                <txt-area  txt-length="600" content="obj.content" is-out="isOut" placeholder="新用户关注后将自动发送的内容"></txt-area>


                <div class="text-right">
                        <!--<button  type="submit" class="mt20 btn btn-success btn-long " ng-click="addOrUpdateAttentionReply()">保存</button>-->

                        <button  type="submit" ng-disabled="isSubmit" class="mt20 btn btn-success btn-long" ng-click="addOrUpdateAttentionReply()">
                                <span ng-hide="isSubmit" class="no-ng">保存</span>
                                <i class="ib no-ng loading-icon loading-inverse" ng-show="isSubmit"></i>
                        </button>

                </div>


        </form>

</div>