<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="addkeyword-whole">


    <form name="addKeyWordForm" novalidate>

        <h2 class="text-center" style="font-size: 26px">修改关键词</h2>
        <hr/>
        <div class="keywords">
            <div class="col-md-2 lh30" style="padding-left: 0px">规则名称</div>
            <div class="col-md-6">
                <input type="text" class=" form-input-default" ng-model="params.ruleName" required/>
            </div>

            <div class="col-md-4">规则名称</div>
        </div>
        <div class="keywords">
            <div class="col-md-2 lh30" style="padding-left: 0px">关&ensp;键&ensp;词</div>
            <div class="col-md-6">
                <input type="text" class=" form-input-default" ng-model="params.rkeys" required/>
            </div>

            <div class="col-md-4">可以输入多个关键词，用","隔开</div>
        </div>

        <div class="keywords" >
            <div class="col-md-2"  style="padding-left: 0px">回复类型</div>
            <div class="col-md-10">
                <a href="javascript:void(0)"  ng-click="isShowTxT='4'" class="text-ellipsis " ><div class="col-md-2 text text-center "  ng-class="{'active':isShowTxT == '4'}"  >文本</div></a>
                <a href="javascript:void(0)"  ng-click="isShowTxT='5'" class="text-ellipsis " ><div class="col-md-offset-1 col-md-2 text text-center"  ng-class="{'active': isShowTxT == '5'}"  >图文</div></a>
            </div>
        </div>

        <div class=" " ng-if="isShowTxT == '4'">
            <div name="attentionForm" >
                <txt-area  txt-length="600" content="params.content" is-out="isOut"></txt-area>
            </div>
        </div>
        <div class="" ng-if="isShowTxT == '5' ">


            <section ng-repeat="re in params.replyNewsData">

                <div class="keywords">
                    <div class="col-md-2 lh30" style="padding-left: 0px " >标&emsp;&emsp;题</div>
                    <div class="col-md-6">
                        <input type="text" ng-model="re.title"  class=" form-input-default" placeholder="必填" required/>
                    </div>
                </div>
                <div class="keywords">
                    <div class="col-md-2 lh30" style="padding-left: 0px">链接地址</div>
                    <div class="col-md-6">
                        <input type="text" ng-model="re.href" class=" form-input-default" placeholder="http://（必填）" required/>
                    </div>

                </div>
                <div class="keywords " style="overflow: hidden;">
                    <div class="col-md-2 lh30" style="padding-left: 0px">封面图片</div>
                    <div class="col-md-6">
                        <button type="button"   ngf-select   ngf-change="uploadPic($files,$event,re)" class="btn btn-default  btn-long">上传封面</button>
                        <div>
                            <img ng-src="{{re.image}}"  style="margin-top: 38px; max-height: 200px;"  />
                        </div>
                    </div>
                </div>
                <p class="msg_tips">请填写图文简介</p>
                <txt-area  txt-length="600" content="re.content" is-out="isOut" ></txt-area>

            </section>

        </div>

        <div class="text-right mt18">

            <button class="btn btn-default btn-long " ng-click="close();" style="margin-right: 20px;">
                取消
            </button>

            <button  type="submit"  ng-disabled="addKeyWordForm.$invalid || isSubmit" class=" btn btn-success btn-long " ng-click="addKeyWords()">
                <span ng-hide="isSubmit" class="no-ng">保存</span>
                <i class="ib no-ng loading-icon loading-inverse" ng-show="isSubmit"></i>
            </button>


        </div>
    </form>



</div>
</body>
</html>