

<!-- 顶部 -->
<div class="right-content-top">
    <h2>自动回复</h2>
</div>



<!-- 顶部 -->
<section class="right-content-wrap ">

    <div class="reply-nav" style="overflow: hidden" >
        <h2 class="tab-nav" ui-sref="app.fun.reply.attention" ng-click="navAttentionActive='attention';getAttentionReply()"  ng-class="{'active': navAttentionActive == 'attention'}">
            <a href="javascript:void(0)"   class="text-ellipsis ">关注自动回复</a></h2>
        <h2 class="tab-nav " ui-sref="app.fun.reply.message"  ng-click="navAttentionActive='message';getMessageReply()"   ng-class="{'active': navAttentionActive == 'message'}" >
            <a href="javascript:void(0)"  class="text-ellipsis">消息自动回复</a></h2>
        <h2 class="tab-nav " ui-sref="app.fun.reply.keywords"  ng-class="{'active': navAttentionActive == 'keywords'}" ng-click="navAttentionActive='keywords'">
            <a href="javascript:void(0)"   class="text-ellipsis">关键词自动回复</a></h2>
    </div>
</section>
<!-- 内容 -->
<section>

    <div class="right-content-wrap reply-content" ui-view>

    </div>

</section>


