
<section>

    <!-- 顶部 -->
    <div class="right-content-top">
        <h2>修改微官网名称</h2>
    </div>

    <!-- 内容 -->
    <div class="right-content-wrap">

        <p class="pwd-box">
            <span class="ib col-sm-2 left-text" >新微官网名称</span>
            <span class="col-sm-10"><input class="ib form-input-default pwd-default" type="text" ng-model="$root.user.emapName"/></span>
        </p>
        <div>
            <span class="col-sm-2 left-text"></span>
            <span class="col-sm-10">

            <!--<button class="btn-bg  btn btn-long btn-success mr10" ng-click="changeUsername()" >确定</button>-->
                 <button  type="submit"  ng-disabled="isSubmit" class=" btn btn-success btn-long " ng-click="changeUsername()">
                     <span ng-hide="isSubmit" class="no-ng">确定</span>
                     <i class="ib no-ng loading-icon loading-inverse" ng-show="isSubmit"></i>
                 </button>

             </span>
        </div>
    </div>




</section>