
<section>

    <!-- 顶部 -->
    <div class="right-content-top">
        <h2>修改密码</h2>
    </div>

    <!-- 内容 -->
    <div class="right-content-wrap">
          <p class="pwd-box">
                     <span class="ib col-sm-2 left-text">旧密码</span>
                     <span class="col-sm-10"><input class="ib form-input-default pwd-default" type="password" ng-model="pwd.oldPwd"/></span>
          </p>
        <br/>

          <p class="pwd-box">
                    <span class="ib col-sm-2 left-text" >新密码</span>
                    <span class="col-sm-10"><input class="ib form-input-default pwd-default" type="password" ng-model="pwd.newPwd"/></span>
          </p>
        <br/>

          <p class="pwd-box">
                    <span class="ib col-sm-2 left-text">确认密码</span>
                    <span class="col-sm-10"><input class="ib form-input-default pwd-default" type="password" ng-model="confirmPwd" /></span>
          </p>
        <br/>
        <div>
            <span class="col-sm-2 left-text"></span>
            <span class="col-sm-10">
            <button class="btn-bg  btn btn-long btn-success mr10" ng-click="checked()" >确定</button>
             </span>
        </div>
    </div>




</section>