<div class="modal-header">
    <h3>添加文章</h3>
</div>
<form  name="addAtricleForm" novalidate  ng-submit="addAtricle();">
    <div class="modal-body" style="padding-top: 25px;">


        <div class="form-style-base">

            <!-- 文本列表-->
            <div  class="clearFix"
                  ng-include="'tpl/function/micro/text.html'"
                  ng-if="currentItem.templateType  ==  TEMPLATE_TYPE.TXT_LIST.CODE">
            </div>

            <!-- 图片列表 -->
            <div class="clearFix" ng-include="'tpl/function/micro/img.html'"
                 ng-if="currentItem.templateType  ==  TEMPLATE_TYPE.IMG_LIST.CODE">
            </div>

            <!-- 卡片列表 -->
            <div class="clearFix"ng-include="'tpl/function/micro/card.html'"
                 ng-if="currentItem.templateType == TEMPLATE_TYPE.CARD_LIST.CODE">
            </div>

        </div>

    </div>
    <div class="modal-footer">


        <button type="submit"   ng-disabled="addAtricleForm.$invalid || isAddAtricleForm"  class="btn btn-success btn-long" >
            <i class="ib no-ng loading-icon loading-inverse" ng-show="isAddAtricleForm" ></i>
            <span ng-hide="isAddAtricleForm" class="no-ng">确定</span>
        </button>

        <button type="button"   class="btn btn-default btn-long" ng-click="cancel()">取消</button>


    </div>
</form>