<div class="modal-header">
    <h3>添加文章</h3>
</div>
<form  name="addMicroMenuForm" novalidate  ng-submit="addMicroMenu();">
    <div class="modal-body">

        <div>


            <!--按钮 -->
            <div class="clearFix"ng-include="'tpl/function/micro/menu.html'"
                 ng-if="currentItem.templateType == TEMPLATE_TYPE.MENU_ICON.CODE">
            </div>

        </div>

    </div>
    <div class="modal-footer">

        <button type="submit"   ng-disabled="updateContentForm.$invalid || isUpdateContentSubmit"  class="btn btn-success btn-long" >
            <i class="ib no-ng loading-icon loading-inverse" ng-show="isUpdateContentSubmit" ></i>
            <span ng-hide="isUpdateContentSubmit" class="no-ng">确定</span>
        </button>

        <button type="button"   class="btn btn-default btn-long" ng-click="cancel()">取消</button>


    </div>
</form>