
    <section class="bm-height">
        <!-- 顶部 -->
        <div class="right-content-top tb-box">
            <div class="nav-reg  tb-row">
                <h2 class="tb-col ">注册幼教新媒体账号</h2>
                <h2 class="tb-col active">绑定公众账号</h2>
            </div>
        </div>

        <!-- 内容 -->
        <div class="right-content-wrap ">




            <div class="row registerContent text-center">

                <div class="registerContentTop">
                    <h4>欢迎使用幼教新媒体</h4>
                </div>



                <div class="registerContentBottom">


                    <a type="button" ng-click="requestMp();" class="btn  btn-super-long btn-bg btn-success-outline f18"  ng-class="{'loading':isRequestMp}" >
                            <i class="ib no-ng loading-icon " ng-show="isRequestMp" ></i>
                            <span ng-hide="isRequestMp" class="no-ng" > 微信公众平台登录授权</span>
                    </a>


                    <div class="registerContentDesc">
                        <span>还没有微信公众账号?</span>
                        <a class="ib bl-a ml15"  target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=register/step1_tmpl&lang=zh_CN"  >立即注册</a>
                    </div>
                </div>

                    <!--<div class="mp-block">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6 text-center">-->
                                <!--<a class="ib abutton" ng-click="requestMp();">-->
                                    <!--<i class="ib no-ng loading-icon " ng-show="isRequestMp" ></i>-->
                                    <!--<span ng-hide="isRequestMp" class="no-ng">已有公众号</span>-->
                                <!--</a>-->
                            <!--</div>-->

                            <!--<div class="col-md-6 text-center" >-->

                                <!--<a class="ib"  target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=register/step1_tmpl&lang=zh_CN"  ng-click="registerMp();">注册公众号</a>-->
                            <!--</div>-->

                        <!--</div>-->


                    <!--</div>-->

            </div>




        </div>
    </section>

</div>

