
    <section class="bm-height">
        <!-- 顶部 -->
        <div class="right-content-top tb-box">
            <div class="nav-reg  tb-row">
                <h2 class="tb-col active">注册幼教新媒体账号</h2>
                <h2 class="tb-col">绑定公众账号</h2>
            </div>
        </div>

        <!-- 内容 -->
        <div class="right-content-wrap ">


            <div class="row registerContent">

                <div class="col-md-7">

                    <form class="form-horizontal" novalidate name="registerForm" ng-submit="register()">
                        <div class="form-group">
                            <label  class="col-md-2 control-label">手机号</label>
                            <div class="col-md-9">
                                <input   ng-model="fm.phone" type="number" class="form-input-default"  required autocomplete="off" >
                                <span id="helpBlock" class="help-block">
                                   用来登录平台，接收到验证码后才可完成注册
                                </span>
                            </div>
                            <div class="col-md-1" style="padding: 0;">
                                <button class="btn btn-success "  ng-disabled="isSendCode || isTimer" type="button" ng-click="sendCode()">
                                            <i class="ib no-ng loading-icon loading-inverse" ng-show="isSendCode" ></i>
                                            <span ng-hide="isSendCode" class="no-ng">{{timeMsg}}</span>
                                    </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label   class="col-md-2 control-label">验证码</label>
                            <div class="col-md-2">
                                <input ng-model="fm.smsCode"  type="number" class="form-input-default" required autocomplete="off" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-md-2 control-label">微官网名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="fm.userName" class="form-input-default"  min-length="10" required autocomplete="off" >
                                <span  class="help-block">
                                   示例：小星星幼儿园，最多10个字
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password"  ng-model="fm.pwd" class="form-input-default" id="inputPassword3" required autocomplete="off" >
                                <span  class="help-block">
                                   字母、数字或英文符号，最短6位，区分大小写
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">


                                <button type="submit" class="btn btn-success btn-long"  ng-disabled="registerForm.$invalid || isRegister">
                                    <i class="ib no-ng loading-icon loading-inverse" ng-show="isRegister" ></i>
                                    <span ng-hide="isRegister" class="no-ng">立即注册</span>
                                </button>
                                <span class="register-btn-layer">
                                    已有账号&nbsp;<a class="bl-a" href="#app/auth/login">登录</a>
                                </span>
                            </div>
                        </div>


                    </form>


                </div>
                <div class="col-md-5">

                </div>

            </div>




        </div>
    </section>

</div>

