


<section>

    <!-- 顶部 -->
    <div class="right-content-top">
        <h2>自定义菜单</h2>
    </div>

    <div ng-if="$root.verifyType == -1 " class="" ng-include="'tpl/function/lock-menu.html'"></div>

    <form name="menuForm" novalidate >
    <!-- 内容 -->
    <div ng-if="$root.verifyType != -1 " class="right-content-wrap">

        <p class="msg_tips">
            可创建最多3个一级菜单，每个一级菜单下可创建最多5个二级菜单。
        </p>

        <div class="menu-layer">
            <div class="menu-content row" >
                <div class="menu-left col-md-4" style="min-height: 500px;">
                    <div class="menu-list-nav tb-box ">
                        <div class="tb-row">
                            <span class="tb-col tb-mt">菜单管理</span>
                            <div class="tb-col tb-mt text-right" ng-hide="sort">
                                <i class=" ib  icon icon-opr-add mr10" ng-click="addMenu('root',menus);"></i>
                                <!-- 屏蔽掉排序-->
                                <!--<i class=" ib icon icon-opr-menu" ng-click="sortMenu();"></i>-->
                            </div>

                            <div class="tb-col text-right tb-mt" ng-show="sort">
                                <button class="btn btn-success btn-sm mr10">完成</button>
                                <button class="btn btn-default btn-sm" ng-click="closeSort();">取消</button>
                            </div>
                        </div>
                    </div>
                    <ul class="menu-list" >

                        <li ng-repeat="menu in menus" >
                            <a class=""  ng-class="{'active': menu.id == currentMenu.id}"  ng-click="selectMenu(menu)"  href="javascript:void(0);">
                                {{menu.name}}
                                <div class="menu-op clearFix">
                                    <i class="ib icon icon-14-opr-add"  ng-click="addMenu('sub',menu)" ng-hide="sort"></i>
                                    <i class="ib icon icon-14-opr-menu" ng-if="sort"></i>
                                </div>
                            </a>

                            <!-- 有二级菜单 -->
                            <ul class="menu-item-list" ng-if="menu.sub_button.length > 0">
                                <li ng-repeat="sub in menu.sub_button"   >
                                    <a class=""   ng-class="{'active': sub.id == currentMenu.id}"  ng-click="selectMenu(sub)" href="javascript:void(0);" >
                                        <i class="dot ib">●</i>{{sub.name}}
                                        <div class="menu-op clearFix">
                                            <i class="ib icon icon-14-opr-menu"   ng-if="sort"></i>
                                        </div>
                                    </a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu-right col-md-8">

                    <div class="menu-right-top  tb-box " ng-show="currentMenu">
                        <div class="tb-row">
                            <div class="tb-col tb-mt ">
                                <p class="">{{currentMenu.isRoot | menuRoot}}：{{currentMenu.name}}</p>
                            </div>
                            <div class="tb-col tb-mt text-right">
                                <a href="javascript:void(0);"  ng-click="reNameLayer()" class="bl-a">重命名</a>

                                <a href="javascript:;" class="bl-a"   mwl-confirm title="提示操作"  on-confirm="removeLayer()"   message="是否删除当前菜单?"  confirm-text="确定"    cancel-text="取消" >
                                    <span >删除</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="" ng-show="currentMenu">

                        <!-- 菜单没有配置的情况 -->
                        <div class="menu-types" ng-if="!currentMenu.type ">
                            <p class="dc">请选择订阅者点击“官网下载”菜单后，公众号做出的响应动作</p>
                            <div>
                                <a class="ib "   ng-click="addMenu('sub',currentMenu)"   ng-if="currentMenu.isRoot" href="javascript:void(0);">
                                    <i class="block icon-menu-addsub icon-menu"></i>
                                    添加二级菜单
                                </a>
                                <a class="ib " href="javascript:void(0);" ng-click="addMenuType('message')" ng-hide="currentMenu.sub_button.length > 0">
                                    <i class="block icon-menu-message icon-menu"></i>
                                    发送信息
                                </a>
                                <a class="ib" href="javascript:void(0);" ng-click="addMenuType('url')" ng-hide="currentMenu.sub_button.length > 0">
                                    <i class="block icon-menu-url icon-menu"></i>
                                    跳转到网页
                                </a>
                            </div>
                        </div>
                        <div class="menu-types"  ng-if="currentMenu.type == 'click' ">

                            <p class="dc">订阅者点击该子菜单会收到以下消息

                                <a href="javascript:;" class="bl-a"   mwl-confirm title="提示操作"  on-confirm="resetButtonType(currentMenu)"   message="是否重新选择功能?"  confirm-text="确定"    cancel-text="取消" >
                                    重新设置菜单
                                </a>

                            </p>

                            <div>

                                <ul class="select-radio-list">
                                    <li ng-repeat="key in keyList">
                                        <input type="radio" class=""  value="{{key.id}}"  ng-change="updateBtnKey(key.id)"  ng-model="currentMenu.key" >
                                        <label>{{key.ruleName}}</label>
                                    </li>

                                </ul>
                            </div>
                        </div>


                        <div class="menu-bs"  ng-if="currentMenu.type == 'view' ">
                                <p class="dc">订阅者点击该子菜单会跳到以下链接    <a href="javascript:;" class="bl-a"   mwl-confirm title="提示操作"  on-confirm="resetButtonType(currentMenu)"   message="是否重新选择功能?"  confirm-text="确定"    cancel-text="取消" >
                                    重新设置菜单
                                </a></p>
                            <div class="text-left menu-op-layer">
                                <input type="text"    class="form-input-default"  ng-model="currentMenu.url"   required/>
                                <!--<button type="button" class=" mt20 btn-long btn btn-success" ng-click="updateView(currentMenu)">修改</button>-->
                            </div>
                        </div>

                        <!-- 没有点击情况  -->
                        <!--<div class="no-menu-select">-->
                        <!--<p>-->
                        <!--你可以点击左侧菜单或添加一个新菜单，然后设置菜单响应动作-->
                        <!--</p>-->
                        <!--</div>-->

                    </div>


                    <div ng-hide="currentMenu" class="no-menu-select">
                        <p class="">你可以点击左侧菜单或添加一个新菜单，然后设置菜单响应动作</p>
                    </div>

                </div>
            </div>

            <div class="menu-bottom">
                <span>编辑中：点击下方“保存并发布”，才能更新到手机上</span>
            </div>



        </div>


        <div class="menu-button-group text-center">

            <button class=" mt20 btn btn-success btn-long "   ng-disabled="isSubmit || isValidate"  ng-click="saveUpdate();">
                <i class="ib no-ng loading-icon loading-inverse" ng-if="isSubmit" ></i>
                <span ng-hide="isSubmit" class="no-ng">保存并更新</span>
            </button>

        </div>


    </div>

    </form>



</section>