<div class="modal-header">
    <h3 class="modal-title">重命名</h3>
</div>
<form  name="addMenuForm" novalidate ng-submit="reMenu();">
    <div class="modal-body">

        <div>
                <!--还能添加1个二级菜单，-->
                <p>请输入名称（最大{{menuMaxLength}}个字）</p>
                <input type="text"  name=""  ng-model="items.name"  class="form-control" maxlength="{{menuMaxLength}}" required/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit"   ng-disabled="addMenuForm.$invalid"  class="btn btn-success btn" >确定</button>
        <button type="button"   class="btn btn-default btn" ng-click="cancel()">取消</button>
    </div>
</form>