<section>

    <!-- 顶部 -->
    <div class="right-content-top">
        <h2>内容管理</h2>
    </div>



    <!-- 内容 -->
    <div class="right-content-wrap content-manager">

        <p class="msg_tips">
            在你的公众号里发送关键词，即可获取对应资源
        </p>

        <table class="table-content" cellspacing="0">
            <thead class="thead">
            <tr>
                <th class="table_cell vote_content" >
                    <div class="td_panel">内容名</div>
                </th>
                <th class="table_cell vote_num">
                    <div class="td_panel">关键词</div>
                </th>
                <th class="table_cell last_child no_extra vote_opr">
                    <div class="td_panel">操作</div>
                </th>
            </tr>
            </thead>
            <tbody class="tbody js_list_body">

                    <tr ng-repeat="ctx in contentList">
                        <td class="table_cell vote_content text-left">
                            <div class="td_panel text-ellipsis" >{{ctx.ruleName}}</div>
                        </td>
                        <td class="table_cell vote_num text-ellipsis">
                            <div class="td_panel text-ellipsis" style="max-width: 500px;">
                                {{ctx.rkeys}}
                                <a href="javascript:;" class="bl-a " ng-click="editContent(ctx);">编辑</a>
                            </div>
                        </td>
                        <td class="table_cell last_child vote_opr">
                            <div class="td_panel">

                                <toggle-switch
                                        ng-model="ctx.status"
                                        on-label="开启"
                                        off-label="停用"  ng-change="changeStatus(ctx)">
                                    <toggle-switch>

                            </div>
                        </td>
                    </tr>


            </tbody>
        </table>


        <div class="text-right">
            <button class="btn btn-default btn-long " ng-disabled="isDefaultSubmit"
                    mwl-confirm title="提示操作"  on-confirm="restore()"
                    message="确定要还原到默认值吗?"  confirm-text="确定"
                    cancel-text="取消" >

                <span ng-hide="isDefaultSubmit" class="no-ng">恢复默认值</span>
                <i class="ib no-ng loading-icon" ng-show="isDefaultSubmit"></i>
            </button>


        </div>

    </div>


</section>