<!-- 标题 -->
<div class="form-style-item" >

    <label class="form-style-label fix">
        <strong class="title">电话号码</strong>

        <p class="tips">（必填）</p>
    </label>

        <input type="text" class="form-input-default" required
                        ng-model="editorItem.phoneNumber"/>

</div>

<div class="form-style-item" >

    <label class="form-style-label fix">
        <strong class="title">地址</strong>

        <p class="tips">（必填）</p>
    </label>

    <input type="text" class="form-input-default" required
           ng-model="editorItem.address"/>

</div>


